[submodule "01_Pong"]
	path = 01_Pong
	url = git@github.com:giorgosathanasopoulos/01_Pong
[submodule "02_Breakout"]
	path = 02_Breakout
	url = git@github.com:giorgosathanasopoulos/02_Breakout
[submodule "03_SpaceInvaders"]
	path = 03_SpaceInvaders
	url = git@github.com:giorgosathanasopoulos/03_SpaceInvaders
[submodule "04_Asteroids"]
	path = 04_Asteroids
	url = git@github.com:giorgosathanasopoulos/04_Asteroids
[submodule "05_PacMan"]
	path = 05_PacMan
	url = git@github.com:giorgosathanasopoulos/05_PacMan
[submodule "06_VVVVVV"]
	path = 06_VVVVVV
	url = ./06_VVVVVV
